@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

/* body {
    color: black;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 30px;
} */

.quiz-container {
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 100%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.quizheader {
    padding: 4rem;
}

h2 {
    
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    color: rgb(222, 208, 60);
    cursor: pointer;
}

button {
    
    background-color: #aa84bb;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 50%;
    padding: 1.3rem;
}

button:hover {
    background-color: #732d91;
}

button:focus {
    background-color: #5e3370;
    outline: none;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.timer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    width: 400px;
}

.col-3 {
    width: 25%;
    float: left;
}

.box {
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    font-weight: 300;
    padding: 10px;
}

.col-3:last-child .box {
    border-right-color: transparent;
}

.box p {
    font-size: calc(16px + 2vmin);
    margin: 0;
}

.text {
    color: white;
    font-size: 14px
    
}