@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;

}

:root {
    --bgOrange: #e84949;
}


.wrapper {
    height: 100%;
    min-height: 100vh;
    /* overflow-y: hidden;
    overflow-x: hidden; */
    /* background-color: #D9AFD9;
    background-image: linear-gradient(45deg, #D9AFD9 0%, #97D9E1 100%); */
    background: url(wp12630153-book-pc-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.close-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 30px;
    width: 30px;
    /* background: #010d16; */
    transform: scale(1.5);
    color: #010d16;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.3;
}

.container {
    width: 340px;
    height: 630px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    margin-top: 10px;
    background: transparent;
    border: 0.1px solid rgb(58, 52, 52);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 5);
    display: flex;
}

.sidebar {
    height: 100vh;
}

.container-login {
    width: 350px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    margin-top: 100px;
    background: transparent;
    border: 0.1px solid rgb(58, 52, 52);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 5);
    display: flex;
}

.item label {
    position: absolute;
    margin-top: 5px;
    /* margin-left: 10px; */
}

.choosebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0.8rem;
    margin-top: 1rem;



}

.tabs {
    /* border: 1px solid black; */
    padding: 0.3rem;
    width: 33.33%;
    height: 100%;
    text-align: center;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: #010d16;
    scroll-behavior: smooth;
    font-weight: 600;
}

.tabs:hover {
    cursor: pointer;
    border-bottom: 3px solid #010d16;
    transform: scale(1.1);
}

.register-heading {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #010d16;
}

.login-heading {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #010d16;
}

.formbox {
    margin-top: -0.8rem;
    height: 337px;
    width: 100%;
    padding: 15px;
    position: relative;

}

.item {
    margin: 0.3rem;
    padding: 0.5rem;
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    top: 12px;
}

/* .item-border{
    border-bottom: 1px solid rgb(29, 25, 25);

} */
.inputbar {
    width: 100%;
    margin: 0.1rem auto;
    padding: 0.2rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(29, 25, 25);


}

::placeholder {
    color: black;
    opacity: 1;
}

p {
    font-size: 0.7rem;
    margin-top: -8px;
}


#item8 {
    display: flex;
    position: relative;
    top: -10px;

}

#terms {
    position: absolute;
    font-size: 0.7rem;
    margin-left: 20px;
    margin-top: -0.3px;
    font-weight: 500;
}



.reglog-button {
    color: antiquewhite;
}


.btn-black {
    all: unset;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    position: relative;
    color: rgb(216, 208, 208);
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    backdrop-filter: blur(50px);
    font-size: 12px;
    top: -15px;
}

.btn-black::after,
.btn-black::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.btn-black::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background-color: #010d16;


    backdrop-filter: blur(20px);
    border-radius: 3px;

}

.btn-black::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: rgba(237, 232, 232, 0.082);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.btn-black:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.btn-black:hover::after {
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.btn-black:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

#item2 {
    margin-top: -13px;
}

#item4 {
    margin-top: -13px;
}

#item2forlogin {
    margin-top: 13px;
}

@media(max-width:345px) {
    .container {
        width: 250px;
        /* height: 400px; */
        margin-top: 50px;
    }

    .container-login {
        width: 250px;
        height: 250px;
        margin-top: 100px;
    }

    .login-heading {
        margin-top: 1.25rem;
        font-size: 1.2rem;
    }

    .btn-black {
        margin-top: 1rem;
    }

    .register-heading {

        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .close-icon {

        height: 15px;
        width: 15px;
        scale: 1.05;
    }

    .choosebar {

        margin: 0.5rem;
        margin-top: 0.85rem;
    }

    .tabs {
        padding: 0.2rem;

    }

    .tabs:hover {
        border-bottom: 2px solid #010d16;
        transform: scale(1.05);
    }

    .formbox {
        margin-top: -0.8rem;
        height: 300px;
        padding: 8px;
    }

    * {
        font-size: 0.8rem;
    }
}

@media(min-width:345px) and (max-width:545px) {
    .container {
        width: 300px;
        /* height: 440px; */
        margin-top: 30px;
    }

    .container-login {
        width: 300px;
        height: 265px;
        margin-top: 110px;
    }

    .btn-black {
        margin-top: 1rem;
    }

    .register-heading {

        margin-top: 1.35rem;
        font-size: 1.35rem;
    }

    .login-heading {

        margin-top: 1.35rem;
        font-size: 1.35rem;
    }

    .close-icon {

        height: 17.5px;
        width: 17.5px;
        scale: 1.1;
    }

    .choosebar {

        margin: 0.65rem;
        margin-top: 0.9rem;
    }

    .tabs {
        padding: 0.3rem;
    }

    .tabs:hover {
        border-bottom: 2.5px solid #010d16;
        transform: scale(1.075);
    }

    .formbox {
        margin-top: -0.7rem;
        height: 313px;
        padding: 10px;
    }

    * {
        font-size: 0.836rem;
    }
}