@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: "Be Vietnam Pro", sans-serif;
    /* color: rgb(243, 239, 235); */
    color: black;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
}

.option-iconbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0.3rem;
    /* border: 1px solid black; */

}



.navbar {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 15px black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-wrap: nowrap;
}

.wrapper {
    width: 100%;
    overflow-y: hidden;

}

.wrapper-addquestion {
    height: 100%;
}

.input-bar {
    width: 100%;
}

#item4{
    display: flex;
    flex-direction: column;
}

img {
    margin-top: -0.6rem;

}

.icon {
    /* border: 1px solid black; */
    scale: 1.1;
    margin-top: 0.1rem;

}

.pic {
    border-radius: 100px;
    border: 1px solid black;
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 46, 46);

}

.page-content {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
    color: rgb(232, 225, 216);
    /* position: fixed; */
}

.main-content {
    /* border: 1px solid black; */
    width: 100%;
     height: 100%;
    background-color: rgb(242, 240, 237);
    position: relative;
    overflow-x: scroll;

}

.left-navbar {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    margin: auto 2.5rem;
}

.card-box {
    display: flex;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    /* gap: 1.5rem; */
    justify-content: space-evenly;
    margin-top: 3rem;
    height: 100%;
}

.addquestion-container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cards {
    /* border: 1px solid black; */
    /* margin: 2rem; */
    box-shadow: 0px 0px 6px black;
    height: 100px;
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    border-radius: 2px;
    backdrop-filter: blur(10px);
    position: relative;

}

.heading-addquestion {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.6rem;
    color: rgb(9, 145, 223);
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.item {
    margin: 0.16rem;
    width: 100%;
}

.cards-teacher {
    width: 40%;
}

.cards-admin {
    width: 21%;
}

.cards-student {
    width: 40%;
}

.cards-adminteacher {
    width: 40%;
}

.cards-adminstudent {
    width: 40%;
}

.cards-admincourse {
    width: 40%;
}

.cards-teacherdashboard {
    width: 28%;
}

.cards-teacherexam {
    width: 40%;
}

.cards-teacherquestion {
    width: 40%;
}

.cards-studentmarks {
    width: 40%;
}

.cards-studentexams {
    width: 40%;
}


.pic-headbox {
    margin: 0.94rem;
    padding: 0.62rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 150px;
    gap: 0.8rem;


}

.admin-head {
    text-align: center;
}

.logout-btn {
    margin-right: 1.3rem;
    border: 1px solid black;
    padding: 0.4rem;
    box-shadow: 0px 0px 2px black;

}

.logout-icon {
    margin-left: 0.5rem;
    color: rgb(232, 225, 216);

}

.quiz-heading {
    /* border: 1px solid black; */
    width: 110px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    font-weight: 500;
    scale: 1.25;
    letter-spacing: 0.15em;
    text-shadow: 0.7px 0.7px 2px black;

}

.option-bar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid black; */
    width: 70%;


}

.options {
    /* border: 1px solid black; */
    text-align: left;
    padding: 0.3rem;

}

a {
    text-decoration: none;
    color: rgb(243, 239, 235);
}


button {
    background: none;
    border: none;
}

.btn-pink {
    background: rgb(9, 145, 223);
    margin-top: 0.5rem;
    padding: 0.3rem;
    width: 20%;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 1px black;

}

.btn-content {
    margin: 0.8rem;
}

@media (max-width:500px) {
    .card-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: -1.5rem;

    }

    .cards {
        width: 75%;
        height: 79px;

    }

    .pic {
        visibility: hidden;
    }

    .options {
        visibility: hidden;
    }

    .option-iconbox {
        width: 40%;

    }

    .icon-link {
        display: flex;
        justify-content: center;
    }

}

@media (min-width:500px) and (max-width:820px) {
    .card-box {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -22px;
        gap: 25px;
    }

    .cards {
        width: 40%;
        height: 85px;
    }

    .pic {
        visibility: hidden;
    }

    .options {
        visibility: hidden;
    }

    .option-iconbox {
        width: 32%;

    }

    .icon-link {
        display: flex;
        justify-content: center;
    }


}